# Dataset
*.tsv
images/
data/
fakeddit_cleaned.csv
failed_downloads.csv
lightning_logs/
# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/

# PyTorch
*.pth
*.pt

# Logs
logs/

# OS files
.DS_Store
Thumbs.db